body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.parallax-container {
    height: 900px;
}

footer.page-footer{
    margin-top: 0;
}

@media screen and (max-width: 992px) {
    .parallax-container{
        height: 550px;
    }
}
@media screen and (max-width: 600px){
    .parallax-container{
        height: 750px;
    }
}
.slider {
  margin: 0 auto;
  height: 1000px;
}
.slider .indicators .indicator-item.active {
    background-color: #006064;
}
h3 {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.caption h5{
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.bannerFAQ
{
    display: block;
    margin: 0 auto;
    margin-bottom: 25px;
}
.icon-blue{
    background-color: red;   
}
ul .python:hover
{
    background-color: #ffab00;
    border-radius: 15px;    
}
ul .met:hover
{
    background-color: #ef5350;
    border-radius: 15px;    
}
ul .git:hover
{
    background-color: #4527a0;
    border-radius: 15px;    
}
ul li
{
    padding: 10px 10px 10px 10px;  
}



